/* Viewport Size 979px */
@media screen and ( max-width: 979px ) {

  #top-menu,
  .top-menu-container,
  .main-menu-container,
  #main-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: inline-block;
  }

  .main-nav-buttons {
    position: absolute;
    top: 0px;
    z-index: 1;
    float: none;
    margin: 0;
  }
        
  #main-nav {
    text-align: center !important;
  }

  .main-container {
    width: 100% !important;
    margin: 0 !important;
  }

  .sidebar-left,
  .sidebar-right {
    width: 100% !important;
    padding: 0 !important;
  }

  .sidebar-left-wrap,
  .sidebar-right-wrap,
  .footer-widgets .slain-widget {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .featured-slider-area.boxed-wrapper {
    padding: 0 !important;
  }

  .footer-socials a {
    margin-right: 10px;
  }

  .footer-socials a span:last-child {
    display: none;
  }

}


/* Viewport Size 768px */
@media screen and ( max-width: 768px ) {

  .slider-categories {
    margin-bottom: 8px !important;
    letter-spacing: 1px;
    font-size: 10px !important;
  }

  .slider-dots li {
    width: 11px;
    height: 11px;
    margin-right: 7px;
  }

  #featured-links .featured-link {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
  #featured-links .featured-link:last-of-type {
    margin-bottom: 0;
  }

  .comments-area {
    margin-bottom: 50px;
  }

  .comment-form-author input,
  .comment-form-email input, 
  .comment-form-url input,
  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 input[type="url"] {
    width: 100% !important;
  }

  .previous-post > a,
  .next-post > a {
    display: none;
  }

  .comment-avatar {
    display: none;
  }

  .comments-area .children {
    margin-left: 15px;
  }

  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    width: 100%;
  }

}


/* Viewport Size 640px */
@media screen and ( max-width: 640px ) {

  .slider-dots {
    bottom: 14px;
  }

  .related-posts .related-item {
    width: 100%;
    margin: 0 0 25px 0;
  }

  .sidebar-left-wrap,
  .sidebar-right-wrap,
  .related-posts .related-item img,
  .footer-widgets .slain-widget {
    width: 100% !important;
  }

  .header-logo {
    padding-top: 0 !important;
  }

  .blog-grid > li {
    width: 100% !important;
    margin-right: 0 !important;
  }

  .blog-list-style .post-media,
  .blog-list-style .post-content-wrap {
    float: none !important;
    width: 100% !important;
    padding: 0 !important;
  }

  .blog-list-style .post-media {
    margin: 0 auto 20px auto;
  }

  .blog-grid .post-header,
  .blog-grid .read-more,
  .blog-list-style .post-content-wrap {
    text-align: center !important;
  } 
  
  .footer-copyright .copyright-info,
  .footer-copyright .credit,
  .footer-copyright .footer-socials {
    width: 100%;
    float: none;
    text-align: center;
  }

  .footer-copyright .footer-socials {
    margin-top: 12px;
  }

  .sticky {
    padding: 20px !important;
  }

  .slider-info {
    padding: 10px;
  }

  .post-slider .prev-arrow,
  .post-slider .next-arrow {
    padding: 0 10px !important;
    margin-top: -14px!important;
    font-size: 30px !important;
  }

  .post-content > p:first-of-type:first-letter {
    font-family: inherit !important;
    float: none !important;
    margin: 0 !important;
    font-size: inherit !important;
    line-height: inherit !important;
    text-align: inherit !important;
    text-transform: inherit !important;
    color: inherit !important;
  }

  .slain-instagram-widget #sb_instagram {
    max-width: none !important;
  }

  .slain-instagram-widget #sbi_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slain-instagram-widget .meks-instagram-widget > div,
  .slain-instagram-widget #sbi_images > div {
    display: none !important;
  }

  .slain-instagram-widget .meks-instagram-widget > div:nth-child(-n+4),
  .slain-instagram-widget #sbi_images > div:nth-child(-n+4) {
    display: block !important;
  }


}


/* Viewport Size 480px */
@media screen and ( max-width: 480px ) {

   .slider-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 18px;
  }

  .slider-title:after {
    display: none;
  }

  #featured-links h6 {
    padding: 5px 10px;
    font-size: 9px !important;
    letter-spacing: 0 !important;
  }

  .comment-reply-link {
    display: block;
    float: none;
    margin: 0;
  }

  .single-navigation .previous-post,
  .single-navigation .next-post {
    width: 100%;
  }

  .single-navigation .previous-post > div,
  .single-navigation .next-post > div {
    float: none;
    text-align: center;
  }

}

/* Viewport Size 320px */
@media screen and ( max-width: 320px ) {
  
  .post-content {
    text-align: left;
  }

}

/* Wp def gallery */
@media screen and ( min-width: 950px ) {

  

}


/* WooCommerce */
@media screen and ( max-width: 768px ) {

  .woocommerce .woocommerce-checkout-review-order table.shop_table,
  .woocommerce-checkout-review-order .woocommerce-checkout-payment,
  .woocommerce .cart-collaterals .cross-sells ul.products li,
  .woocommerce-page .cart-collaterals .cross-sells ul.products li{
    float: none;
    width: 100%;
  }

  .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 100%;
    margin-bottom: 40px;
  }

  .woocommerce ul.products li:nth-child(odd),
  .woocommerce-page ul.products li:nth-child(odd) {
    margin-right: 4% !important;
  }


  .woocommerce ul.products li:nth-child(even),
  .woocommerce-page ul.products li:nth-child(even) {
    margin-right: 0 !important;
  }

  .woocommerce .woocommerce-checkout-review-order table.shop_table,
  .woocommerce-checkout-review-order .woocommerce-checkout-payment {
    float: none !important;
    width: 100% !important;
  }

}


@media screen and ( max-width: 640px ) {

  .woocommerce .page-content ul.products li.product,
  .woocommerce-page .page-content ul.products li.product,
  .woocommerce-page[class*=columns-] .page-content ul.products li.product,
  .woocommerce[class*=columns-] .page-content ul.products li.product {
    width: 100% !important;
    float: none;
    clear: both;
  }

  .woocommerce-page table.cart td.actions .coupon .input-text {
    margin-bottom: 7px;
  }

  .woocommerce-page table.cart td.actions .coupon .input-text+.button {
    display: block;
    float: none !important;
  }

  .woocommerce .woocommerce-ordering {
    float: left;
    margin-bottom: 25px;
  }

  .woocommerce .woocommerce-result-count,
  .woocommerce-page .woocommerce-result-count {
    float: none;
  }
      
}


 @media screen and (max-width: 880px) {
    
}
 @media screen and (max-width: 750px) {
     .custom-logo-link {
         max-width: 250px;
    }
}
 @media screen and (max-width: 690px) {
     .custom-logo-link {
         max-width: 200px;
    }
}

/* Featured Links */
@media screen and (max-width: 768px) {
     #featured-links {
         padding: 7px 16px !important;
    }
}
 @media screen and (max-width: 768px) {
     #featured-links h6 {
         padding: 7px 16px !important;
         font-size: 13px !important;
    }
}
 @media screen and (max-width: 640px) {
     #featured-links h6 {
         padding: 5px 13px !important;
         font-size: 12px !important;
    }
}
@media screen and (max-width: 640px) {
     #featured-links h6 {
         padding: 4px 10px !important;
         font-size: 10px !important;
    }
}