.nav-tab {
    float: left;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-left: .5em;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.71428571;
    font-weight: 600;
    background: #e5e5e5;
    color: #555;
    text-decoration: none;
    white-space: nowrap;
}

.nav-tab-active, .nav-tab-active:focus, 
.nav-tab-active:focus:active, 
.nav-tab-active:hover {
    border-bottom: 1px solid #f1f1f1;
    background: #f1f1f1;
    color: #000;
}
.nav-tab-active {
    margin-bottom: -1px;
    color: #444;
}
.nav-tab-active, 
.nav-tab:focus:active {
    box-shadow: none;
}


.nav-tab-wrapper:after{
	content:"";
	clear:both;
	display:block;
}