/*
 * @package themecentury
 * @subpackage slain
 * @since 1.0.0
 */
/*--------------------------------------------------------------
14.0 Page Footer
--------------------------------------------------------------*/
/*
 * Footer Column
 */
.footer-widget-area{

	.footer-column{
 		width:25%;
		float:left;
 		padding:0 15px;
 		&.column1{
 			width:100%;
      padding:0;
 		}
 		&.column2{
 			width:50%;
      @media(max-width:767px){
        width:100%;
        padding:0;
      }
 		}
 		&.column3{
 			width:33.33%;
      @media(max-width:767px){
        width:100%;
        padding:0;
      }
 		}
 		&.column4{
 			width:25%;
      @media(max-width:991px){
        width:50%;
      }
      @media(max-width:640px){
        width:100%;
        padding:0;
      }
 		}
	}

}


/*
 * Main Footer
 */
.footer-widgets {
  border-top-width: 1px;
  border-top-style: solid;
  overflow: hidden;
  padding: 40px 0 0px;
}


.page-footer-inner {
  overflow: hidden;
}

.alt-widget-title {
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 20px;
}

.alt-widget-title h4{
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 39px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

