/*
 * @package themecentury
 * @subpackage slain
 * @since 1.0.0
 */

 /*--------------------------------------------------------------
3.0 Top Bar
--------------------------------------------------------------*/

#top-bar {
  z-index: 1;
  position: relative;
  text-align: center;
  background-color:#fff;
  box-shadow: 0px 1px 5px rgba(0,0,0, 0.1);
  @media(max-width:979px){
    min-height:50px;
  }
}

#top-menu {
  float: left;
  font-size:0px;
  text-transform:uppercase;
}

.top-bar-socials {
  float: right;
  @media(max-width:979px){
    top:0;
    right:20px;
    position:absolute;
  }
}

#top-menu li {
  font-size:12px;
  position: relative;
}

#top-menu > li {
  display: inline-block;
  list-style: none;
  position:relative;
}

#top-menu li a {
  display: block;
  position: relative;
  padding: 0 8px;
  color:#000;
  font-size: 12px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 600;
}

#top-menu>li:after{
  top:20px;
  right:0;
  content:"";
  display:block;
  width:1px;
  height:10px;
  background:#dedede;
  position:absolute;
}

#top-menu>li:last-child:after{
    display:none;
}

#top-menu > li > a {
  display: block;
  text-decoration: none;
}

#top-menu ul ul {
  top: -1px !important;
  left: 100%;
}

#top-menu .sub-menu {
  display: none;
  position: absolute;
  z-index: 130;   
  width: 170px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  background-color: #ffffff;
  border-color:rgba(0,0,0,0.05);
}

#top-menu .sub-menu a {
  border-bottom-style: solid;
  border-bottom-width: 1px; 
  background-color: #ffffff;
  border-color:rgba(0,0,0,0.05);
}

#top-menu .sub-menu > li:last-of-type > a {
  border: none;
}

#top-menu .sub-menu li:first-child > .sub-menu {
  margin-top: -1px;
}

#top-menu .sub-menu > li > a {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin: 0 0 1px;
  font-size: 11px;
  line-height: 2em;
  letter-spacing: 0.8px;
}

.top-bar-socials a {
  margin-left: 15px;
  text-align: center;    
  text-decoration: none;
  font-size: 13px;
  line-height: 50px;
}

.top-bar-socials a:first-child {
  margin-left: 0;
}

/* Elementor FontAwesome Fix */
.top-bar-socials a i {
  font-family: FontAwesome !important;
  font-weight: 400 !important;
}

#top-bar .mobile-menu-btn {
  float: left;
  line-height: 50px;
  padding: 0 5px 0;
}